.person-card{
    border: 1px solid rgba(128, 128, 128, 0.100);
    margin: 10px;
    height: auto;
    width: 25%;
    padding: 2rem;
    text-align: left;
    text-transform: capitalize;
}

.person-card:hover{
    -webkit-box-shadow: 10px 10px 6px 3px rgba(201,187,201,0.4);
    -moz-box-shadow: 10px 10px 6px 3px rgba(201,187,201,0.4);
    box-shadow: 10px 10px 6px 3px rgba(201,187,201,0.4);
    transition: all 0.3s ease-out;
    background-color: honeydew;
}